In [1]:
import pandas as pd

In [4]:
citiesData = pd.read_csv('Resources/cities.csv')
citiesData.head()

,Name,ID,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,lagoa,3372964.0,39.05,-27.98,62.94,86.0,100.0,32.86
1,puerto escondido,3520994.0,15.85,-97.07,82.40,74.0,20.0,11.41
2,hithadhoo,1282256.0,-0.60,73.08,82.90,75.0,30.0,7.52
3,carnarvon,2074865.0,-24.87,113.63,75.20,94.0,0.0,9.17
4,bereda,3105522.0,43.27,-7.54,54.00,87.0,40.0,1.12

In [5]:
citiesData.to_html('cities.html')